html, body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/header_background.png) center / cover;
    height: 100vh;
    position: relative;
}

#logo {
    max-width: 80%;
    max-height: 50%;
}

@media screen and (max-width: 1024px) {
    #logo {
        max-width: 90%;
        max-height: 50%;
    }
}
.scroll-hint {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.arrow {
    margin-right: 2ch;
    width: 30px;
    animation: bounce 1.5s infinite;
}

.stop-bounce {
    animation: none !important;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(14px);
    }
}

.header {
    text-align: center;
    margin-top: 20px;
    font-family: 'Anton SC';
    font-size: 40px;
    background-color: rgb(60, 136, 94);
}

.product-selection {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;  /* no more underline when clicked */
    color: inherit;         /* no more changing color when clicked */
}

.selection-name {
    font-family: 'Anton SC';
}
.selection-image {
    width: 150px;   
    height: auto;   
    border-radius: 10px; 
    transition: transform 0.3s ease;
}

.selection-image:hover {
    transform: scale(1.2); 
    cursor: pointer;
}

@media (max-width: 600px) {
    .product-selection {
        flex-direction: column; /* to stack the items vertically */
        align-items: center;    /* to center the items horizontally */
        gap: 30px;
    }
}



.options-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.option-button {
    background-color: #3c885e;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #2f6c4a;
    cursor: pointer;
}
